<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
            http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
            http://www.springframework.org/schema/mvc
            http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	<!-- 
		注册mvc注解驱动
			自动注册DefaultAnnotationHandlerMapping与AnnotationMethodHandlerAdapter 两个bean
		,是spring MVC为@Controller分发请求所必须的。
	-->
	<mvc:annotation-driven/>
	
	<!-- 
		3、处理器适配器找到处理器controller处理请求。
		组件扫描器
			spring可以自动去扫描base-pack下面或者子包下面的Java文件，如果扫描到有
		@Component @Controller@Service等这些注解的类，则把这些类注册为bean。
	-->
	<context:component-scan base-package="com.test.**.controller"
		annotation-config="true">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Service" />
	</context:component-scan>
	
	<!--
		5、处理器适配器（spring-mvc.xml）将ModelAndView交给视图解析器进行处理，并将结果返回
			给中央调度器DispatcherServlet。 
	 -->
	 <!-- 视图定位 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
    </bean>
    
    <!-- 避免拦截静态资源 -->
    <mvc:resources mapping="/js/**" location="/js/"/>  
    <mvc:resources mapping="/css/**" location="/css/"/>  
    <mvc:resources mapping="/img/**" location="/img/"/>  
    <mvc:resources mapping="/media/**" location="/media/"/>
    <mvc:resources mapping="/fonts/**" location="/fonts/"/>
    <mvc:resources mapping="/sdk/**" location="/sdk/"/>
</beans>