body {
	background-color: #f8f8f8;
}
.container {
	margin: 0 10px;
}
.btn_title {
	font-size: 16px;
    font-weight: 400;
}
.btn_desc {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #888;
    text-align: left;
    font-size: 14px;
}
.price {
	font-size: 16px;
	font-weight: 400;
	color: #999;
}
.price strong {
	font-size: 17px;
	font-weight: 600;
	color: #E64340;
}
.weui-tab {
	position: absolute;
    height: 100%;
    width: 100%;
}
.icon-plus {
	padding-right: 13px;
    position: relative;
}
.icon-plus:before {
	width: 2px;
    height: 15px;
}
.icon-plus:after {
	width: 15px;
    height: 2px;
}
.icon-plus:before, .icon-plus:after {
	content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #D9D9D9;
}
.im-header .weui-cell {
	background: #EAEAEA;
}
.cell__rt {
    position: relative;
    font-size: 12px;
    color: #999;
    padding-bottom: 25px;
}
.cell__rb {
	padding-right: 20px;
    position: relative;
    color: #999;
}
.cell__rb:after {
	content: " ";
    display: inline-block;
    height: 6px;
    width: 6px;
    border-width: 0 2px 2px 0;
    border-color: #c8c8cd;
    border-style: solid;
    -webkit-transform: matrix(.71,.71,-.71,.71,0,0);
    transform: matrix(.71,.71,-.71,.71,0,0);
    position: relative;
    top: -2px;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 2px;
}
.im_container .cell__p:before {
	left: 0;
}
.im_container .cell__c:before {
	left: 75px;
}
#addFriendPage, #chatPage {
	display: none;
	position: absolute;
    height: 100%;
    width: 100%;
    z-index: 500;
    left: 100%;
    background-color: #f8f8f8;
    -webkit-transition: all .2s ease 0s;
	-moz-transition: all .2s ease 0s;
	-ms-transition: all .2s ease 0s;
	-o-transition: all .2s ease 0s;
	transition: all .2s ease 0s;
}
#imHtml {
	overflow-x: hidden;
}
/* 聊天页面*/
.chat-header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #fff;
	z-index: 100;
}
.chat-inputFile {
	position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #F8F8F8;
}
.chat-inputFile input {
	width: 100%;
	background-color: #fff;
	padding: 7px 5px;
	border: 0;
	border-radius: 5px;
	font-size: 16px;
	line-height: 16px;
	box-sizing: border-box;
}
.chat-body {
    min-height: 100%;
    padding: 47px 20px 53px 20px;
    box-sizing: border-box;
}
.msg-bd {
	overflow: hidden;
}
.msg-time {
	font-size: 12px;
    text-align: center;
    border-radius: 10px;
    padding: 1px;
    margin: 10px 0;
    color: #666;
}
.msg-heading__to {
	float: left;
    margin-right: 20px;
}
.msg-word__to {
	position: relative;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    word-wrap: break-word;
    float: left;
    max-width: 75%;
}
.msg-word__to:before {
	content: '';
    position: absolute;
    left: -4px;
    top: 16px;
    height: 8px;
    width: 8px;
    border-width: 0 0 2px 2px;
    -webkit-transform: matrix(.71,.71,-.71,.71,0,0);
    transform: matrix(.71,.71,-.71,.71,0,0);
    background-color: #fff;
}
.msg-heading__from {
	float: right;
    margin-left: 20px;
}
.msg-word__from {
	position: relative;
    background-color: #1aad19;
    padding: 10px;
    border-radius: 5px;
    word-wrap: break-word;
    float: right;
    max-width: 75%;
}
.msg-word__from:after {
	content: '';
    position: absolute;
    right: -4px;
    top: 16px;
    height: 8px;
    width: 8px;
    border-width: 2px 2px 0 0;
    -webkit-transform: matrix(.71,.71,-.71,.71,0,0);
    transform: matrix(.71,.71,-.71,.71,0,0);
    background-color: #1aad19;
}
.summaryInfo {
	font-size: 13px;
    color: #888888;
    max-width: 270px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}