<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 定义Dao的Mapper配置文件 -->
<mapper namespace="com.test.mapper.IAddressMapper">

	<resultMap type="com.test.pojo.Address" id="rowMapper">
		<result property="id" jdbcType="INTEGER" column="ID" />
		<result property="type" jdbcType="INTEGER" column="TYPE" />
		<result property="name" jdbcType="VARCHAR" column="NAME" />
		<result property="parentId" jdbcType="INTEGER" column="PARENT_ID" />
		<result property="zip" jdbcType="INTEGER" column="ZIP" />
	</resultMap>
	
	<sql id="BASE_COLUMN_LIST">
		ID,
		TYPE,
		NAME,
		PARENT_ID,
		ZIP
	</sql>
	
	<insert id="insert" parameterType="com.test.pojo.Address">
		INSERT INTO region (
		ID,
		TYPE,
		NAME,
		PARENT_ID,
		ZIP	
		) values (
		#{id},
		#{type},
		#{name},
		#{parentId},
		#{zip}
		)
	</insert>
	
	<select id="list" parameterType="java.util.Map" resultMap="rowMapper">
		SELECT <include refid="BASE_COLUMN_LIST" />	FROM region WHERE 1=1  
	</select>
	
	<select id="country" parameterType="java.util.Map" resultMap="rowMapper">
		SELECT <include refid="BASE_COLUMN_LIST" />	FROM region WHERE type=1  
	</select>
	
	<select id="area" parameterType="int" resultMap="rowMapper">
		SELECT <include refid="BASE_COLUMN_LIST" />	FROM region WHERE parent_id = #{parentId}
	</select>
	
</mapper>